.header {
    height: 95vh;
    background-image: linear-gradient(
                    to right bottom,
                    rgba($color-primary-light, 0.8),
                    rgba($color-primary-dark, 0.8)),
    url("../img/heading-background.jpg");
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 84%, 0 100%, 0 15%);
    position: relative;

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        opacity: 0;
        position: absolute;
        top: 3rem;
        left: 4rem;

        @include respond(phone) {
            opacity: 1;
        }
    }

    &__logo {
        height: 8rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}